# Java / Maven
target/
*.class
*.jar
*.war
*.log
hs_err_pid*

# IDE
.idea/
.vscode/
*.iml
.project
.classpath
.settings/

# Node / Frontend
node_modules/
dist/
.angular/
.vite/
*.tsbuildinfo

# Env
*.env.local
.env

# OS
.DS_Store
Thumbs.db

# Maven wrapper
!.mvn/wrapper/maven-wrapper.jar
